<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <title>Dashboard - Pohon Tautan</title>

    <script>
        tailwind.config = {
            darkMode: 'class',
        }
    </script>
    <style type="text/tailwindcss">
        input:checked ~ .dot {
            transform: translateX(100%);
            /* background-color: #132b50; */
        }

        .animated {
			-webkit-animation-duration: 1s;
			animation-duration: 1s;
			-webkit-animation-fill-mode: both;
			animation-fill-mode: both;
		}

		.animated.faster {
			-webkit-animation-duration: 500ms;
			animation-duration: 500ms;
		}

		.fadeIn {
			-webkit-animation-name: fadeIn;
			animation-name: fadeIn;
		}

		.fadeOut {
			-webkit-animation-name: fadeOut;
			animation-name: fadeOut;
		}

		@keyframes fadeIn {
			from {
				opacity: 0;
			}

			to {
				opacity: 1;
			}
		}

		@keyframes fadeOut {
			from {
				opacity: 1;
			}

			to {
				opacity: 0;
			}
		}
      </style>


</head>

<body class="flex bg-gray-100 min-h-screen dark:bg-slate-900">
    <div class="flex-grow text-gray-800 dark:text-gray-400">
        
        <section class="p-6 sm:p-10 space-y-6 my-20">

            <section class="grid md:grid-cols-2 md:grid-rows-3 xl:grid-rows-3 xl:grid-flow-col gap-6 animate-pulse">
                <div class="flex flex-col md:col-span-2 md:row-span-2 bg-white shadow rounded-lg dark:bg-slate-800">
                    <div class="px-6 py-5 font-semibold border-b border-gray-100 dark:border-gray-800"><div class="h-6 bg-gray-300 mb-2"></div></div>
                    <div class="p-4 flex-grow">
                        <div class="h-full bg-gray-300 mb-2 rounded-md"></div>
                    </div>
                </div>
                <div class="flex items-center p-8 bg-white dark:bg-slate-800 shadow rounded-lg">
                    <div
                        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16  bg-gray-200 rounded-full mr-6">
                        
                    </div>
                    <div class="w-full">
                        <span class="block"> <div class="h-4 bg-gray-300 mb-2"></div> <div class="h-6 bg-gray-300 mb-2"></div></span>
                    </div>
                </div>
                <div class="flex items-center p-8 bg-white dark:bg-slate-800 shadow rounded-lg">
                    <div
                        class="inline-flex flex-shrink-0 items-center justify-center h-16 w-16  bg-gray-200 rounded-full mr-6">
                        
                    </div>
                    <div class="w-full">
                        <span class="block"> <div class="h-4 bg-gray-300 mb-2"></div> <div class="h-6 bg-gray-300 mb-2"></div></span>
                    </div>
                </div>
                <div class=" bg-white dark:bg-slate-800 shadow rounded-lg xl:row-span-3 md:col-span-2 overflow-clip">
                    <div
                        class="flex items-center justify-between px-6 py-5 font-semibold border-b border-gray-100  dark:border-gray-600">
                        <span class="w-full"><div class="h-4 bg-gray-300 mb-2"></div></span>
                        

                    </div>
                    <div class="xl:min-w-[30rem] overflow-y-auto md:max-w-full ">

                        <!-- <h2 th:text="${potentially_complex_expression != null ? potentially_complex_expression.property : 'Default'}"></h2> -->

                        <div class="bg-gray-200 h-full flex justify-center items-center py-48 xl:max-w-[410] xl:max-h-[539]">
    

                        </div>
                    </div>
                </div>

            </section>

        </section>
    </div>
</body>



</html>

<script th:src="@{https://code.jquery.com/jquery-3.7.0.js}"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>

<script src="/js/dashboard.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {

        var data = /*[[${btnstyle}]]*/""
        console.log(data)

        all_modals = ['add-modal', 'edit-modal']
        all_modals.forEach((modal) => {
            const modalSelected = document.querySelector('.' + modal);
            modalSelected.classList.remove('fadeIn');
            modalSelected.classList.add('fadeOut');
            modalSelected.style.display = 'none';
        })

        function darkModeListener() {
            document.querySelector("html").classList.toggle("dark");
        }

        document.querySelector("input[type='checkbox']#dark-toggle").addEventListener("click", darkModeListener);
    })


    /*]]>*/
</script>