<!DOCTYPE html>
<html lang="en" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Pohon Tautan</title>
</head>
<body>
    <div class="container bg-cover min-h-screen min-w-full flex justify-center items-center">
        <div class="w-1/2 bg-slate-600 p-5 rounded-xl bg-opacity-50 backdrop-blur-lg backdrop-filter">
            <div class="w-5 h-5 bg-black rounded-full mx-auto">
                <img src="#" alt="">
            </div>
            <div class="w-full p-3 mt-3" style="background-color: blue;">

            </div>
        </div>
    </div>
    
</body>
</html>

<script th:src="@{https://code.jquery.com/jquery-3.7.0.js}"
  integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"
  referrerpolicy="no-referrer"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
      
    })
  /*]]>*/
</script>