<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="/css/output.css">

    <title>Pohon Tautan</title>
</head>

<body>
    <div id="bg" class="bg-cover flex justify-center items-center py-12 min-h-screen" >
        <div class="w-1/2 bg-slate-50 p-5 rounded-xl bg-opacity-5 backdrop-blur-lg shadow-2xl">
            <div class="rounded-full mx-auto w-[150px] h-[150px] overflow-auto">
                <img th:src="${btnstyle[0].tempImg == null ? 'https://source.unsplash.com/150x150' : btnstyle[0].tempImg}"
                    class="rounded-full mx-auto" alt="profile picture">
            </div>
            <div class="justify-center text-center">
                <h2 class="mx-auto text-3xl text-white mt-1 font-bold"
                    th:text="${btnstyle[0].headline == null ? 'Lorem Ipsum' : btnstyle[0].headline }">
                </h2>
                <a class="mx-auto text-slate-200"
                    th:text="${btnstyle[0].bio == null ? 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, ullam!' : btnstyle[0].bio }"></a>
            </div>

            <div id="buttontmpt" class="w-full mt-3">
                <div class="relative" th:each="bbtn : ${btnstyle}" th:if="${bbtn.button_name != null}">
                    <button th:style="|background: ${bbtn.button_style}|"
                        th:class="${bbtn.button_text_color == null or bbtn.button_animation == null ? 'min-w-full rounded-lg px-4 py-2 mb-3 text-white hover:brightness-90' : 'min-w-full rounded-lg px-4 py-2 mb-3 hover:brightness-90 ' + bbtn.button_text_color +' '+ bbtn.button_animation}"
                        th:text="${bbtn.button_name}" th:name="${bbtn.link}" onclick="countB(this.name)"></button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<script th:src="@{https://code.jquery.com/jquery-3.7.0.js}"
    integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        var data = /*[[${btnstyle}]]*/""
        // console.log(data[0])

        var uri = location.href;
        var urI = uri.substring(uri.lastIndexOf("/")+1, uri.length)

        if (data[0].tempBg == null){
            document.getElementById('bg').style.backgroundImage = "url('"+data[0].bg_default+"')"

        } else{
            document.getElementById('bg').style.backgroundImage = "url('/showbgds?curl="+urI+"')"

        }
    })

    function countB(ll){
        // console.log(ll)
        var tujuan = ll;
        $.ajax({
            url: `/sessionbutton`,
            data :{ url: tujuan},
            method: 'POST',
            success: function(){
                window.open(tujuan, "_self")
            }
        })
    }
    /*]]>*/
</script>